@page
@model Acme.BookStore.Web.Views.Home.Test2Model

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test2</title>
</head>
<body>

<div>
    <h4>Author</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.ShortBio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.ShortBio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.IsDeleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.DeleterId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.DeleterId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.DeletionTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.DeletionTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.LastModificationTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.LastModificationTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.LastModifierId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.LastModifierId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.CreationTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.CreationTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.CreatorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.CreatorId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.ExtraProperties)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.ExtraProperties)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.ConcurrencyStamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.ConcurrencyStamp)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Author.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
</body>
</html>
